@model TorneosWeb.domain.models.Estadisticas
@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>ESTADÍSTICAS</h2>

<div style="overflow:auto;width:100%">
	<table id="table_stats" class="table dataTable">
		<thead>
			<tr style="text-align:center">
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Nombre )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Torneos )
				</th>
				@if( "Liga".Equals( ViewData[ "Listado" ] ) )
				{
					<th>
						@Html.DisplayNameFor( model => model.Detalles[ 0 ].Profit )
					</th>
				}
				else
				{
					<th>
						Profit Total
					</th>
				}

				@if( !"Liga".Equals( ViewData[ "Listado" ] ) )
				{
					<th style="font-size:small;text-decoration: overline dashed darkgray;color:darkgray">
						@Html.DisplayNameFor( model => model.Detalles[ 0 ].ProfitTorneos )
					</th>
					<th style="font-size:small;text-decoration: overline dashed darkgray;color:darkgray">
						Profit Ligas
					</th>
				}
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].ROI )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Rebuys )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Podios )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Victorias )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Burbujas )
				</th>
				<th>
					@Html.DisplayNameFor( model => model.Detalles[ 0 ].Kos )
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach( var detalle in Model.Detalles )
			{
			<tr>
				<td>
					<a asp-page="./Jugador" asp-route-id="@detalle.Id">@Html.DisplayFor( modelItem => detalle.Nombre )</a>
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Torneos )
				</td>
				<td style="text-align:right;margin-right:10em;color:@(detalle.ProfitNumber < 0 ? "red" : "black")">
					@Html.DisplayFor( modelItem => detalle.Profit )
				</td>
				@if( !"Liga".Equals( ViewData[ "Listado" ] ) )
				{
					<td style="font-size:small;text-align:right;margin-right:10em;color:@(detalle.ProfitTorneosNumber < 0 ? "red" : "black")">
						@Html.DisplayFor( modelItem => detalle.ProfitTorneos )
					</td>
					<td style="font-size:small;text-align:right;margin-right:10em;color:@(detalle.ProfitLigasNumber < 0 ? "red" : "black")">
						@Html.DisplayFor( modelItem => detalle.ProfitLigas )
					</td>
				}
				<td style="text-align:right;margin-right:10em;color:@(detalle.ROINumber < 0 ? "red" : "black")">
					@Html.DisplayFor( modelItem => detalle.ROI )
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Rebuys )
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Podios )
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Victorias )
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Burbujas )
				</td>
				<td style="text-align:center">
					@Html.DisplayFor( modelItem => detalle.Kos )
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<hr style="margin-top:3em;margin-bottom:3em;border: 3px solid black;background-color:black" />

<h2>KNOCKOUTS</h2>
<div style="overflow:auto;width:100%">
	<table id="kos" class="table">
		<thead>
			<tr style="text-align:center">
				<th></th>
				@foreach( var jugador in Model.Jugadores )
				{
					<th>
						@jugador
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach( var jugador in Model.Knockouts.Keys )
			{
				<tr>
					<td style="font-weight:bold">@jugador</td>
					@foreach( var elim in Model.Jugadores )
					{
						<td style="text-align:center">
							@( Model.Knockouts[ jugador ].ContainsKey( elim ) ? Model.Knockouts[ jugador ][ elim ].Eliminaciones.ToString() : "-" )
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>

<hr style="margin-top:3em;margin-bottom:3em;border: 3px solid black;background-color:black" />

<div class="cardContainer">
	@foreach( var stat in Model.Stats )
	{
		if(stat.Level > (int)ViewData["StatsLevel"])
		{
			continue;
		}

		<div class="card statCard">
			<div class="statTitle">
				<h3 class="statTitle">@stat.Titulo</h3>
				<i>@stat.Descripcion</i>
			</div>
			<div style="background-color:white;text-align:center;width:100%">
				<img src="~/images/@stat.Imagen" style="max-height:220px;max-width:90%;width:auto;align-self:center;margin-top:2px" class="card-img-top">
			</div>
			<div class="card-body" style="text-align:center;border-top:1px solid black;overflow:auto;background-color:white">
				
				@foreach( var p in stat.Participantes )
				{
					<p class="card-text" style="margin:2px">
						<b>@p.Nombre: </b>
						<span style="color:@(p.IsPositive ? "black" : "red")">@p.Valor</span>
					</p>
				}
			</div>
		</div>
	}
</div>