@model List<TorneosWeb.domain.models.Torneo>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="overflow:auto;width:100%">
	<table id="Table_torneos" class="table dataTable" style="width:100%">

		<thead>
			<tr>
				<th></th>
				@if( "Liga".Equals( ViewData[ "Listado" ] ) )
				{
				<th></th>
				}
				<th>
					@Html.DisplayNameFor( model => model[ 0 ].Fecha )
				</th>
				<th>
					@Html.DisplayNameFor( model => model[ 0 ].Tipo )
				</th>
				<th>
					@Html.DisplayNameFor( model => model[ 0 ].Ganador )
				</th>
				<th>
					@Html.DisplayNameFor( model => model[ 0 ].Bolsa )
				</th>
				<th class="blockFull">
					@Html.DisplayNameFor( model => model[ 0 ].Precio_Buyin )
				</th>
				<th class="blockFull">
					@Html.DisplayNameFor( model => model[ 0 ].EntradasTotales )
				</th>
				<th class="blockFull">
					@Html.DisplayNameFor( model => model[ 0 ].Premiacion )
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach( var torneo in Model )
			{
			<tr>
				<td>
					@Html.ActionLink( "Resultados", "TorneoResults", "Home", new { torneoId = torneo.Id, listado = "Torneos" } )
				</td>
				@if( "Liga".Equals( ViewData[ "Listado" ] ) )
					{
				<td>
					@Html.ActionLink( "Puntos", "TorneoResults", "Home", new { torneoId = torneo.Id, listado = "Liga" } )
				</td>
					}
				<td>
					@Html.DisplayFor( modelItem => torneo.Fecha )
				</td>
				<td>
					@Html.DisplayFor( modelItem => torneo.TipoString )
				</td>
				<td>
					<a asp-page="./Jugador" asp-route-id="@torneo.GanadorId">@Html.DisplayFor( modelItem => torneo.Ganador )</a>
				</td>
				<td>
					@Html.DisplayFor( modelItem => torneo.Bolsa )
				</td>
				<td class="blockFull">
					@Html.DisplayFor( modelItem => torneo.Precio_Buyin )
				</td>
				<td class="blockFull">
					@Html.DisplayFor( modelItem => torneo.EntradasTotales )
				</td>
				<td class="blockFull">
					@Html.DisplayFor( modelItem => torneo.Premiacion )
				</td>
			</tr>
			}
		</tbody>

	</table>
</div>