@page
@model TorneosWeb.Pages.LigasModel
@{
	ViewData["Title"] = "Ligas";
	Layout = "~/Pages/Shared/_LayoutLigas.cshtml";
}

<h1>Ligas</h1>

<table class="table" style="width:auto">
	
	<thead>
		<tr>
			<th>Liga</th>
			<th>
				@Html.DisplayNameFor( model => model.Ligas[0].FechaInicio )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.Ligas[0].FechaCierre )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.Ligas[0].Ganador )
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach( var liga in Model.Ligas )
		{
		<tr>
			<td>
				@Html.ActionLink( liga.Nombre, "LigaNombre", "Home", new { nombreLiga = liga.Nombre } )
			</td>
			<td>
				@Html.DisplayFor( m => liga.FechaInicio )
			</td>
			<td>
				@Html.DisplayFor( m => liga.FechaCierre )
			</td>
			<td>
				<a asp-page="./Jugador" asp-route-id="@liga.GanadorId">@Html.DisplayFor( modelItem => liga.Ganador )</a>
			</td>
		</tr>
		}
	</tbody>
</table>