@page
@model TorneosWeb.Pages.TorneoModel

<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/css/detalleTorneosStyle.css" />
	<link rel="stylesheet" type="text/css" href="~/css/TourneyHeaderStyle.css" />
	<title>Torneo de @Html.DisplayFor( model => model.Resultados.Torneo.Fecha )</title>
</head>

<body>

	<div id="contenedor">
		<p style="color:red">@Model.Result</p>
		<div style="overflow:auto;width:100%">
			<div class="tourneyHeader">
				<span style="float:left">@Html.DisplayFor( model => model.Resultados.Torneo.Fecha )</span>
				<span style="float:right;text-align:right">
					<div style="display:grid;grid-template-columns:auto auto;text-align:center;align-items:center">
						<img src="~/images/money-symbol-saving.png" class="moneyBag" />
						@Html.DisplayFor( model => model.Resultados.Torneo.Bolsa )
					</div>
				</span>
			</div>

			<table id="ranking" class="table">
				<thead>
					<tr style="text-align:center">
						<th>
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].Lugar )
						</th>
						<th>
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].Nombre )
						</th>
						<th class="blockFull">
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].Rebuys )
						</th>
						<th>
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].Knockouts )
						</th>
						<th>
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].Premio )
						</th>
						@if( Model.Resultados.Torneo.Tipo == Joserras.Commons.Domain.TournamentType.BOUNTY )
						{
							<th>
								@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].PremioBounties )
							</th>
						}
						<th>
							@Html.DisplayNameFor( model => model.Resultados.Posiciones[0].ProfitTotal )
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach( var posicion in Model.Resultados.Posiciones )
					{
						<tr>
							<td style="text-align:center">
								@Html.DisplayFor( modelItem => posicion.Lugar )
							</td>
							<td>
								@Html.DisplayFor( modelItem => posicion.Nombre )
							</td>
							<td class="blockFull" style="text-align:center">
								@Html.DisplayFor( modelItem => posicion.Rebuys )
							</td>
							<td style="text-align:center">
								@Html.DisplayFor( modelItem => posicion.Knockouts )
							</td>
							<td style="text-align:right;margin-right:10em;">
								@Html.DisplayFor( modelItem => posicion.Premio )
							</td>
							@if( Model.Resultados.Torneo.Tipo == Joserras.Commons.Domain.TournamentType.BOUNTY )
							{
								<td style="text-align:right;margin-right:10em;">
									@Html.DisplayFor( modelItem => posicion.PremioBounties )
								</td>
							}
							<td class="profit" style="text-align:right;margin-right:10em;color:@(posicion.ProfitTotalNumber < 0 ? "red" : "black")">
								@Html.DisplayFor( modelItem => posicion.ProfitTotal )
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		@if( Model.Resultados.Knockouts.Count > 0 )
		{
			<hr style="margin-top:3em;margin-bottom:3em;border: 3px solid black;width:100%;background-color:black" />
			<h1>KNOCKOUTS</h1>
			<div style="overflow:auto;width:100%">
				<table id="kos" class="table">
					<thead>
						<tr style="text-align:center">
							<th></th>
							@foreach( var jugador in Model.Resultados.Jugadores )
							{
								<th>
									@jugador
								</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach( var jugador in Model.Resultados.Knockouts.Keys )
						{
							<tr>
								<td style="font-weight:bold">@jugador</td>
								@foreach( var elim in Model.Resultados.Jugadores )
								{
									<td style="text-align:center">
										@( Model.Resultados.Knockouts[ jugador ].ContainsKey( elim ) ? Model.Resultados.Knockouts[ jugador ][ elim ].Eliminaciones.ToString() : "-" )
									</td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>

			@if( Model.Resultados.KnockoutList.Count > 0 )
			{
				<hr style="margin-top:3em;margin-bottom:3em;border: 3px solid black;width:100%;background-color:black" />
				<div style="overflow:auto;width:100%">
					<table id="koList" class="table">
						<thead>
							<tr style="text-align:center">
								<th>
									@Html.DisplayNameFor( model => model.Resultados.KnockoutList[0].Nombre )
								</th>
								<th>
									@Html.DisplayNameFor( model => model.Resultados.KnockoutList[0].Eliminado )
								</th>
								<th>
									@Html.DisplayNameFor( model => model.Resultados.KnockoutList[0].Mano )
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach( var ko in Model.Resultados.KnockoutList )
							{
								<tr>
									<td>
										@ko.Nombre
									</td>
									<td>
										@ko.Eliminado
									</td>
									<td>
										<a href="@ko.Mano" target="_blank">@ko.Mano</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		}

	</div>

	<div>
		<form method="post">
			<input type="hidden" name="torneoId" value="@Model.Resultados.Torneo.Id" />
			<input type="submit" onclick="return confirm('Quieres eliminar este torneo?')" value="Eliminar Torneo" />
		</form>
	</div>

</body>
</html>